In [9]:
import os
import cx_Oracle
import time
import requests
import numpy as np 
from bs4 import BeautifulSoup
import pandas as pd
URL = "http://ticket2.movie.daum.net/Movie/MovieRankList.aspx"
res = requests.get(URL)
soup = BeautifulSoup(res.content, 'lxml')
box = soup.find_all('div', class_="desc_boxthumb")
# count = 0
data = []
for movie in box:  
    title, ranking = movie.find('strong', class_="tit_join"), movie.find('em', class_="emph_grade")
    movie, grade = title.get_text().strip(), ranking.get_text().strip()
    # print(movie, grade)
    list2 = [movie, grade]#movie, grade를 list(이름,평점)로 가진 형태로 만듦
    data.append([movie,grade])#data에 list2의 모든데치터를 가지고 있는 리스 형태로 변환

df = pd.DataFrame(data,columns=['title','rating'])
df['rating']=df['rating'].astype(float)
#df = df.astype({'title':str,'rating':float})
df.dtypes
df['rating'].mean()

7.639999999999999

In [23]:
df=pd.read_csv("../20200602/data/billboard.csv")
df
df.shape
df.dtypes
df.columns
df.index
df2 = df.reindex(index = [0,1,2],columns=['time','artist','year'])
df2

   time        artist  year
0  4:22         2 Pac  2000
1  3:15       2Ge+her  2000
2  3:53  3 Doors Down  2000

In [28]:
import pandas as pd 
import numpy as np 

df3 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df3
df4=df3.rename(index = {0:100,1:200,3:300,4:400,5:500},columns={'col1':'one','col2':'two'})
df4

          one       two      col3
100  0.420324 -1.413088  1.082222
200 -1.009446  0.929741 -1.262317
2    0.540021 -1.021478  1.365966
300 -0.559564  0.006805  0.392622
400 -0.545999 -0.506535 -0.370757
500  0.398264 -1.199557  0.017770

In [46]:
#java, python, html, css ,javascript,database , statistics , numpy, pandas ..import
#spring , mvc m desingpattern
#maching learning, skit-learn , deep learning cloud 
# 기사 , sqld 1 -2 , asdp 1-2 알고리즘 + linux-1 
#full stack
#java jsp  servelet spring html5 css3 javascript react.js angular.js vue.js 
#database(sql syntax,procedure)
#node.js mysql mssql python

#spark hadoop linux 분산어플리케이션 빅데이터 개발환경 
#open stack - 개인 커뮤니티 , 클라우드 
#데이터 마이닝, 
import numpy as np 
import pandas as pd 


df = pd.DataFrame(np.random.rand(6,4),
index = ['a','b','c','d','e','f'],columns = ['col1','col2','col3','col4'])
df

df['col1']
df.loc['a',:]
df.loc[:,'col1']
df.loc[['a','c','e'],['col1','col3']]
df.loc['a':'e','col1':'col4']
df.loc['a']>0
df.iloc[0:2,0:2]
df.iloc[1:3,1:2]
df['col1'][:2]

a    0.743438
b    0.638563
Name: col1, dtype: float64