In [15]:
import pandas as pd 
import numpy as np
s = pd.Series()
s
data = pd.Series([1,2,3,4])
data
data2 = pd.Series(['a','b','c','d'])
data2
data3 = pd.Series(['a','b','c','d'],index=[100,110,120,130])
data3

a = np.array([1,2,3,4])
a
data4 = pd.Series(a,index=[10,20,30,40])
data4

dict1 = {1:'test',2:'test2',3:'test3'}
data5 = pd.Series(dict1)
data5
data6 = pd.Series(dict1, index = [3,1,4])
data6
type(data6)

pandas.core.series.Series

In [32]:
data7 = pd.Series(5,index = [1,2,3,4,5,6])
data7

data8 = pd.Series([1,2,3,4,5,6])
data8
data8[0]
data8[:3]
data8 = pd.Series([1,2,3,4,5,6], index = ['a','b','c','d','e','f'])
data8['a']

data9 = pd.Series([2,3,4,5])
data9[0]

#data9['g'] 키에러

2

In [59]:
obj = pd.Series([4,7,-5,3])
obj
obj.values
obj.index

obj2 = pd.Series([4,7,-5,3],index = ['d','b','a','c'])
obj2
obj2.index

obj2['a']
obj2['d']=6
obj2[['c','a','d']]
obj2[obj2>0]

obj2 * 2

np.exp(obj2)

'b' in obj2
'e' in obj2
sdata = {'Ohio':35000,'Texas':71000,'Oregon':16000,'Utah':5000}
obj3 = pd.Series(sdata)
obj3

states = ['California','Ohio','Oregon','Texas']
obj4 = pd.Series(sdata,index = states)
obj4

pd.isnull(obj4)
pd.notnull(obj4)
obj4.isnull()

obj3 +obj4

obj4.name = 'population'
obj4

obj.index = ['Bob','Steve','Jeff',"Ryan"]
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [89]:
#Lists,Dict,Series,Numpy arrays, DataFrame
import numpy as np 
import pandas as pd 

df = pd.DataFrame()
#type(df)
df

df1 = pd.DataFrame([1,2,3,4,5,6])
df1

df2 = pd.DataFrame([[1,2],[3,4]])
df2

df3 = pd.DataFrame([['test1',10],['test2',20],['test3',30]],columns=['name','age'],dtype = float)
df3

df4 = pd.DataFrame( {'name':['이순신','강감찬','을지문덕','홍길동'],
                    'age':[20, 21, 22, 30] } , index = ['no1','no2','no3','no4'],
                    columns=['age','name'])
df4

df5 = pd.DataFrame([{'no1':10 ,'no2':20 },{ 'no1':100,'no2':200 ,'no3':300}], index= ['one','two'],columns = ['no3','no2','no1'])
df5

col1 = pd.Series([1,2,3] ,index = ['a','b','c'])
col2 = pd.Series([4,5,6] ,index = ['a','b','c'])

df6 = pd.DataFrame({'one':col1,'two':col2})
df6['three'] = pd.Series([5,6,6],index=['a','b','c'])
df6

t=df6['one']
type(t)
df6['one']
df6['two']
df6['four'] = df6['one']+df6['two']
df6

del df6['one']
df6

   two  three  four
a    4      5     5
b    5      6     7
c    6      6     9

In [95]:
import numpy as np 
import pandas as pd 

data = [[1,2],[3,4]]
df = pd.DataFrame(data , index = ['row1','row2'],columns=['col1','col2'])
df

df['col2']

d= df.loc['row1']
d2 = df.iloc[0]
df.iloc[1]
df[:1]

data2 = {'one':[1,2,3,4,5],'two':[5,6,7,8,9]}
df2 = pd.DataFrame(data2)
df2

   one  two
0    1    5
1    2    6
2    3    7
3    4    8
4    5    9