In [28]:
import numpy as np 
import pandas as pd 

data = {'name':pd.Series(['강감찬','이순신','홍길동']),
        'age':pd.Series([20,30,40]),
        'salary':pd.Series([2000,3000,4000])}

df = pd.DataFrame(data)
df.shape# 3, 3 
df.ndim #2차원
df.sum(1)
df.mean()
df.std()
df.count()
df.median()
df.min()
df.max()
df.describe()

# 100 50 50 의 평균 =200
# 100 100 0 의 평균 =200

data2 = {'name':pd.Series(['강감찬','이순신','홍길동','연개소문','정약용','을지문덕','이성계','권율']),
        'age':pd.Series([20,30,40,50,60,70,80,90]),
        'salary':pd.Series([2000,3000,4000,5000,6000,7000,8000,9000])}

df2 =pd.DataFrame(data2)
df2

df3 = df2.reindex(index = [0,2,5],columns =['name','salary','grade'])
df3

df4 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df5 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df5.reindex_like(df4,method="ffill")#값이 자동 채워짐

       col1      col2      col3
0 -1.104467 -0.349774 -0.951174
1  0.177609 -0.424939 -1.600246
2  1.141537  1.108670 -1.117129
3 -1.134933 -0.229681 -0.377421
4  0.502627  1.815067 -0.349925
5 -0.702724 -0.740137  0.570806
6  0.367388  0.187091  0.476079
7  0.367388  0.187091  0.476079
8  0.367388  0.187091  0.476079
9  0.367388  0.187091  0.476079