In [25]:
import numpy as np 
import pandas as pd 

#df = pd.read_csv("student.csv",sep=",",header=0,skiprows=1,columns=[])
df = pd.read_csv("student.csv",sep=",",header=None, skiprows=1,
                names=['col1','col2','col3','col4','col5','col6','col7'],
                index_col='col6')
df.shape
#df.loc[157.1]
df

df2 = pd.DataFrame([[10,2],[11,4],[12,2],[13,4],[14,2],[15,4]],
            columns = ['col1','col2'], index = ['a','b','c','d','e','f'])

df3 = df2.reindex(['a','a1','b','b1','c','c1'])
#NaN(Not a number)
df3['col1'].isnull()
df3.isnull()
df3['col1'].fillna(0)
df3.fillna(0)
df3.fillna(method='pad')
df3.dropna()

   col1  col2
a  10.0   2.0
b  11.0   4.0
c  12.0   2.0

In [ ]:
json => {'name': 'test', 'age': 'test'}
var test = json

In [28]:
#비만도 계산법 bmi 지수 =몸무게(kg) /(신장(m)X(신장(m)))
import numpy as np 
import pandas as pd 

df = pd.read_csv("student.csv")
df

       sex  age  grade absence bloodtype  height  weight
0     male   20      2       N         O   157.1    52.3
1   female   24      2       Y         O   160.8    53.6
2     male   28      2       N         O   160.5    53.4
3     male   22      2       N        AB   159.0    52.2
4   female   23      2       N         O   160.9    53.1
..     ...  ...    ...     ...       ...     ...     ...
95  female   27      4       Y         A   154.9    63.2
96  female   27      1       N         O   156.7    73.6
97    male   23      3       Y         B   173.4    62.5
98    male   25      3       Y         O   167.7    74.6
99  female   28      3       N         A   179.3    71.9

[100 rows x 7 columns]

In [46]:
string_data = pd.Series(['aardvark','artichoke','np.nan','avocado'])
string_data

string_data.isnull()

string_data[0]=None
string_data.isnull()
from numpy import nan as NA 

data =pd.Series([1, NA, 3.5, NA, 7])
data.dropna()

data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],
[NA,NA,NA],[NA,6.5,3.]])

cleaned = data.dropna()
data
cleaned

data.dropna(how='all')
data[4]=NA
data
data.dropna(axis=1,how='all')

df = pd.DataFrame(np.random.randn(7,3))
df.iloc[:4,1] = NA
df.iloc[:2,2] = NA
df
df.dropna()
df.dropna(thresh=2)
df.fillna(0)

          0         1         2
0 -0.570036  0.000000  0.000000
1 -1.821184  0.000000  0.000000
2 -0.922873  0.000000  0.032136
3 -0.011716  0.000000 -0.640048
4  0.517821  0.158318 -0.428047
5 -0.448459 -0.252912  0.341466
6  0.102297  0.334770 -0.360684