In [104]:
from numpy import NaN, NAN, nan 
import pandas as pd 
import numpy as np 
print(nan)

visited = pd.read_csv('survey_visited.csv')
survey = pd.read_csv('survey_survey.csv')
visited
survey
visited

vs = visited.merge(survey, left_on='ident', right_on='taken')
# print(vs)

num = pd.Series({
    'dog':4 , 'amoeba':nan
})

num

gap = pd.read_csv('gapminder.tsv' , sep = '\t')
gap.head()
#year 그룹화 - > 기대수명의 평균 

res = gap.groupby(['year'])['lifeExp'].mean()

#2002년도 출력  loc -  행 인덱스 직접   
res.loc[2002]
res.iloc[10]
res.iloc[-2]


res.loc['2002':].mean()

ebola = pd.read_csv('country_timeseries.csv')
# ebola.info()
ebola.count()
#각 컬럼별 null의 갯수 출력 
ebola.shape[0] - ebola.count()

np.count_nonzero(ebola.isnull()) #true의 갯수 

np.count_nonzero(ebola['Cases_Guinea'].isnull())

ebola.shape 

ebola.dropna()

ebola.columns
#'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone'
#모두 더한다음 'Cases_multiple 을 생성'   = 칼럼 추가 

ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']  # feature engineering
 
#ebola[['Cases_Guinea','Cases_Liberia','Cases_SierraLeone','Cases_multiple']]

ebola.loc[:,['Cases_Guinea','Cases_Liberia','Cases_SierraLeone','Cases_multiple']]

#Cases_Guinea의 합계출력
# ebola['Cases_Guinea'].sum()
ebola.Cases_Guinea.sum(skipna=False) # skipna=True 디폴트

nan

nan

In [117]:
pew = pd.read_csv('pew.csv')
pl = pd.melt(pew, id_vars='religion' , var_name='income',value_name='count')
pl
#데이터 출력 구조 바꿀때 melt
# Agnostic < $10k  27 
# Atheist < $10k  12
# 피벗. 멜트 wide to wrong

bb = pd.read_csv('billboard.csv')
pd.melt(bb, id_vars=['year','artist','track','time','date.entered'], var_name='week',value_name='rank')

,year,artist,track,time,date.entered,week,rank
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN