In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(10,3),    
                index = pd.date_range('01/06/2020',periods=10),
                columns=['col1','col2','col3'])
# df.head()
# df.shape

df.rolling(window=3).mean()

                col1      col2      col3
2020-01-06       NaN       NaN       NaN
2020-01-07       NaN       NaN       NaN
2020-01-08  0.043270 -0.082962  0.163748
2020-01-09 -0.035851 -0.361332  0.084006
2020-01-10 -0.176492 -0.510153 -0.527766
2020-01-11  0.091151 -0.279429 -0.067915
2020-01-12  0.297789 -0.279405  0.482720
2020-01-13  0.128794  0.239075  1.182328
2020-01-14 -0.443781  0.256568  0.395036
2020-01-15 -0.108468  0.592564 -0.104575

In [25]:
# df2 =  pd.DataFrame([[1,2,3]])
# df2
# df3 = df2.iloc[:,:1]
# df3
# df2

# df3[0] = 100
# df3 
# df2 

ds = pd.Series([1,2,3,4])
ds[0] = 100
ds
ds1 = ds[:1]
ds1[0] = 300 
ds1 
ds

0    300
1      2
2      3
3      4
dtype: int64

In [13]:
df3 = pd.DataFrame([3,2,1,])
df3

df4 = df3[:]
df3.iloc[0] = 300
df3
df4

#개별적으로 복사 
df3.sort_values(by = [0],inplace=True)
df3

     0
2    1
1    2
0  300

In [32]:
list1 = [1,2,3,4,5]
def add(x):
    return x+100

result1 =map(add,list1)
list(result1)

df5 = pd.DataFrame([[1,2],[3,4]], columns=['col1','col2'])
df5['col1'].map(add)

list2 = [1,2,3,2,1]
df6 = pd.DataFrame(list2)
df6
kinds = {1:'pig',2:'cow',3:'chicken'}
kinds
df6[0].map(lambda y: kinds[y])

def test(x):
    kinds[x]
df6[0].map(lambda y: kinds[y])

0        pig
1        cow
2    chicken
3        cow
4        pig
Name: 0, dtype: object

In [40]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                    'ounces':[4,3,12,6,7.5,8,3,5,6]})

data

meat_to_animal={'bacon':'pig',
                'pulled pork':'pig',
                'pastrami':'cow',
                'corned beef':'cow',
                'honey ham':'pig',
                'nova lox': 'salmon'}

lowercased = data['food'].str.lower()

lowercased

data['animal'] = lowercased.map(meat_to_animal)
data

data['food'].map(lambda x : meat_to_animal[x.lower() ])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object