In [32]:
import numpy as np 
import pandas as pd 

df=pd.read_csv("data.csv")
df.groupby ('Team').groups
df
df.groupby ('Team').groups
df.groupby(['Team','Year']).groups
grouped = df.groupby ('Team').groups

grouped = df.groupby("Year")
# for name, group in grouped:
#     print(name)
#     print(group)

grouped.get_group(2014)

grouped2 = df['Points'].groupby(df['Year'])
grouped2.mean()
grouped2.sum()

# for p in grouped2:
#     print(p)

grouped3 = df.groupby(['Team','Year'])
# for name, group in grouped3:
#     print(name)
#     print(group)

grouped4 = df.groupby('Year')
grouped4['Points'].agg(np.mean)
grouped4.agg(np.size)

      Points  Rank  Team
Year
2014       4     4     4
2015       4     4     4
2016       2     2     2
2017       2     2     2

In [45]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                    'key2':['one','two','one','two','one'],
                    'data1':np.random.randn(5),
                    'data2':np.random.randn(5)})
df
grouped = df['data1'].groupby(df['key1'])
grouped

grouped.mean()
means = df['data1'].groupby([df['key1'],df['key2']]).mean()
means
means.unstack()

states = np.array(['Ohio','California','California','Ohio','Ohio'])
years = np.array([2005,2005,2006,2005,2006])
df['data1'].groupby([states,years]).mean()
df.groupby('key1').mean()
df.groupby(['key1','key2']).mean()
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64