In [24]:
import numpy as np 
import pandas as pd 

df = pd.DataFrame([1,2,3,4,5,6,7,8,9],
                index = [['a','a','a','b','b','c','c','d','d'],
                        [1,2,3,1,3,1,2,2,3]])
df.index
df.loc[[1,'d']]
df.loc['a',1]
df2=df.unstack()
df2.stack()
df2

     0
     1    2    3
a  1.0  2.0  3.0
b  4.0  NaN  5.0
c  6.0  7.0  NaN
d  NaN  8.0  9.0

In [33]:
data= pd.Series(np.random.randn(9),
                index = [['a','a','a','b','b','c','c','d','d'],
                        [1,2,3,1,3,1,2,2,3]])
data
data.index
data['b']
data['b':'c']
data.loc[['b','d']]
data.loc[:,2]

data.unstack()
data.unstack().stack()

a  1    0.466709
   2    0.977278
   3   -0.179863
b  1    0.503474
   3   -0.486473
c  1   -0.856595
   2   -1.240995
d  2   -0.643867
   3   -1.049810
dtype: float64

In [51]:
import numpy as np 
import pandas as pd 
#pip install xlrd
df5=pd.read_excel("score.xlsx",header=0,index_col=0,sheet_name="Sheet2")
df5.stack()
df5.stack().unstack()

df6=pd.read_excel("score.xlsx",header=[0,1],index_col=0,sheet_name="Sheet1")
df6.stack()
df6.stack().unstack()
df6.stack(level=0)
df6.stack(level=1).unstack()

     1학기     2학기
      과학  수학  과학   수학
강감찬   30  20  90   10
권율    40  90  90  100
이순신   80  30  50   40
홍길동  100  10  30   20