In [98]:
import numpy as np 
import pandas as pd 
import googlemaps

crime_anal_police = pd.read_csv("02. crime_in_Seoul.csv",thousands=",",encoding="cp949")
gmaps_key='AIzaSyASXW4UsDuM36MFW_yMMpgg-OG6WNemAG8'
gmaps=googlemaps.Client(key=gmaps_key)
gmaps.geocode('서울중부경찰서',language='ko')

station_name=[]
for name in crime_anal_police['관서명']:
    station_name.append('서울'+str(name[:-1])+'경찰서')

station_name

station_address = []
station_lat = []
station_lng = []

for name in station_name:
    tmp = gmaps.geocode(name, language='ko')
    station_address.append(tmp[0].get("formatted_address"))

    tmp_loc = tmp[0].get("geometry")
    station_lat.append(tmp_loc['location']['lat'])
    station_lat.append(tmp_loc['location']['lng'])
    print(name+'--->'+tmp[0].get("formatted_address"))

    station_address
    station_lat
    station_lng

    gu_name=[]
    for name in station_address:
        tmp = name.split()
        tmp_gu = [gu for gu in tmp if gu[-1] =="구"][0]

        gu_name.append(tmp_gu)
crime_anal_police['구별'] = gu_name
crime_anal_police.head()
crime_anal_police.loc[crime_anal_police['관서명']=="금천서", ['구별'] ]='금천구'
crime_anal_police[crime_anal_police['관서명']=="금천서"]

crime_anal_police.to_csv("02. crime_in_Seoul_include_gu_name.csv",encoding='utf-8')

서울중부경찰서--->대한민국 서울특별시 중구 을지로동 수표로 27
서울종로경찰서--->대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46
서울남대문경찰서--->대한민국 서울특별시 중구 회현동 한강대로 410
서울서대문경찰서--->대한민국 서울특별시 서대문구 충현동 통일로 113
서울혜화경찰서--->대한민국 서울특별시 종로구 인의동 창경궁로 112-16
서울용산경찰서--->대한민국 서울특별시 용산구 원효로1가 백범로 329
서울성북경찰서--->대한민국 서울특별시 성북구 삼선동5가 301
서울동대문경찰서--->대한민국 서울특별시 동대문구 청량리동 약령시로21길 29
서울마포경찰서--->대한민국 서울특별시 마포구 아현동 마포대로 183
서울영등포경찰서--->대한민국 서울특별시 영등포구 영등포동1가 618-7
서울성동경찰서--->대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울동작경찰서--->대한민국 서울특별시 동작구 노량진1동 노량진로 148
서울광진경찰서--->대한민국 서울특별시 광진구 구의동 자양로 167
서울서부경찰서--->대한민국 서울특별시 은평구 신사2동 184-56
서울강북경찰서--->대한민국 서울특별시 강북구 번1동 오패산로 406
서울금천경찰서--->대한민국 서울특별시 금천구 시흥동 190
서울중랑경찰서--->대한민국 서울특별시 중랑구 망우동 489-7
서울강남경찰서--->대한민국 서울특별시 강남구 대치동 998
서울관악경찰서--->대한민국 서울특별시 관악구 봉천동
서울강서경찰서--->대한민국 서울특별시 강서구 화곡6동 980-15
서울강동경찰서--->대한민국 서울특별시 강동구 성내1동 성내로 57
서울종암경찰서--->대한민국 서울특별시 성북구 종암동 종암로 135
서울구로경찰서--->대한민국 서울특별시 구로구 구로동 가마산로 235
서울서초경찰서--->대한민국 서울특별시 서초구 서초3동 반포대로 179
서울양천경찰서--->대한민국 서울특별시 양천구 신정6동 목동동로 99
서울송파경찰서--->대한민국 서울특별시 송파구 가락본동 9
서울노원경찰서--->대한민국 서울특별시 노원구 하계동 노원로 283
서울방배경찰서--->대한민국 서울특별시 서초구 방배본동 동작대로 204
서울은평경찰서--->대한민국 서울특별시 은평구 불광동 연서로 365
서울도봉경찰서--->대한민국 서울특별시 도봉구 창4동 노해로 403
서울수서경찰서--->대한민국 서울특별시 강남구 개포동 개포로 617

In [99]:
crime_anal_police.to_csv("02. crime_in_Seoul_include_gu_name.csv",encoding='utf-8')

crime_anal_raw = pd.read_csv("02. crime_in_Seoul_include_gu_name.csv")

In [97]:
import numpy as np 
import pandas as pd 
df = pd.read_excel("02. sales-funnel.xlsx")
df.head()
pd.pivot_table(df,index=['Name'])
pd.pivot_table(df,index=['Name','Rep',"Manager"])
pd.pivot_table(df,index=['Manager','Rep'],values=['Price'])
pd.pivot_table(df,index=['Manager','Rep'],values=['Price'],aggfunc=np.sum)

pd.pivot_table(df,index=['Manager','Rep','Product'],values=['Price','Quantity'],aggfunc=[np.sum,np.mean],fill_value=0,margins=True)

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

In [34]:
import requests
import json

a = '시애틀'
b = '워싱턴'

apikey='AIzaSyASXW4UsDuM36MFW_yMMpgg-OG6WNemAG8'
url = 'http://maps.googleapis.com/maps/api/distancematrix/json?'

In [40]:
import requests
url='https://maps.googleapis.com/maps/api/geocode/json?address=%EC%84%9C%EC%9A%B8%EC%A4%91%EB%B6%80%EA%B2%BD%EC%B0%B0%EC%84%9C+CA&key=AIzaSyASXW4UsDuM36MFW_yMMpgg-OG6WNemAG8'
requests.get(url).json()

{'results': [{'address_components': [{'long_name': '27',
     'short_name': '27',
     'types': ['premise']},
    {'long_name': 'Supyo-ro',
     'short_name': 'Supyo-ro',
     'types': ['political', 'sublocality', 'sublocality_level_4']},
    {'long_name': 'Euljiro-dong',
     'short_name': 'Euljiro-dong',
     'types': ['political', 'sublocality', 'sublocality_level_2']},
    {'long_name': 'Jung-gu',
     'short_name': 'Jung-gu',
     'types': ['political', 'sublocality', 'sublocality_level_1']},
    {'long_name': 'Seoul',
     'short_name': 'Seoul',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'South Korea',
     'short_name': 'KR',
     'types': ['country', 'political']},
    {'long_name': '100-032',
     'short_name': '100-032',
     'types': ['postal_code']}],
   'formatted_address': '27 Supyo-ro, Euljiro-dong, Jung-gu, Seoul, South Korea',
   'geometry': {'location': {'lat': 37.5636465, 'lng': 126.9895796},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 37.56499548029149,
      'lng': 126.9909285802915},
     'southwest': {'lat': 37.56229751970849, 'lng': 126.9882306197085}}},
   'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
   'plus_code': {'compound_code': 'HX7Q+FR Seoul, South Korea',
    'global_code': '8Q98HX7Q+FR'},
   'types': ['establishment', 'point_of_interest', 'police']}],
 'status': 'OK'}

In [56]:
import pandas as pd 
from datetime import datetime

#pd.date_range(datetime.today(),periods=10).to_pydatetime().tolist()
# d=pd.date_range(start='2020-01-01',end='2020-01-10')
d = ['20200101','20200101','20200101','20200102','20200102','20200102','20200103','20200103','20200103']
col1 = ['a','b','c','a','b','c','a','b','c']
col2 = [1,2,3,1,2,3,1,2,3]
data = {'date':d, 'col1':col1,'col2':col2}
df = pd.DataFrame(data)
df
df.pivot_table(index = 'date',columns='col1',values='col2')

col1      a  b  c
date
20200101  1  2  3
20200102  1  2  3
20200103  1  2  3

In [64]:
import pandas as pd 
import numpy as np 

df = pd.read_excel("../20200608/DataScience-master/data/02. sales-funnel.xlsx")
df.head()
df.shape
df.index
pd.pivot_table(df,index=['Account'],columns=['Name'],values=['Price'])

             Price                                                        \
Name    Barton LLC Fritsch, Russel and Anderson Herman LLC Jerde-Hilpert
Account
141962         NaN                          NaN    65000.0           NaN
146832         NaN                          NaN        NaN           NaN
163416         NaN                          NaN        NaN           NaN
218895         NaN                          NaN        NaN           NaN
239344         NaN                          NaN        NaN           NaN
307599         NaN                          NaN        NaN           NaN
412290         NaN                          NaN        NaN        5000.0
688981         NaN                          NaN        NaN           NaN
714466         NaN                          NaN        NaN           NaN
729833         NaN                          NaN        NaN           NaN
737550         NaN                      35000.0        NaN           NaN
740150     35000.0                          NaN        NaN           NaN

                                                                        \
Name    Kassulke, Ondricka and Metz Keeling LLC Kiehn-Spinka Koepp Ltd
Account
141962                          NaN         NaN          NaN       NaN
146832                          NaN         NaN      65000.0       NaN
163416                          NaN         NaN          NaN       NaN
218895                          NaN         NaN          NaN       NaN
239344                          NaN         NaN          NaN       NaN
307599                       7000.0         NaN          NaN       NaN
412290                          NaN         NaN          NaN       NaN
688981                          NaN    100000.0          NaN       NaN
714466                          NaN         NaN          NaN       NaN
729833                          NaN         NaN          NaN   35000.0
737550                          NaN         NaN          NaN       NaN
740150                          NaN         NaN          NaN       NaN


Name    Kulas Inc Purdy-Kunde Stokes LLC Trantow-Barrows
Account
141962        NaN         NaN        NaN             NaN
146832        NaN         NaN        NaN             NaN
163416        NaN     30000.0        NaN             NaN
218895    25000.0         NaN        NaN             NaN
239344        NaN         NaN     7500.0             NaN
307599        NaN         NaN        NaN             NaN
412290        NaN         NaN        NaN             NaN
688981        NaN         NaN        NaN             NaN
714466        NaN         NaN        NaN         15000.0
729833        NaN         NaN        NaN             NaN
737550        NaN         NaN        NaN             NaN
740150        NaN         NaN        NaN             NaN

In [70]:
col1 = ['abb','def','dda','abb','abb']
col2 = ['x1','x2','y1','y2','x2']
col3 = [2,2,2,2,2]

data ={'col1':col1 , 'col2':col2,'col3':col3}
df = pd.DataFrame(data)
df
pd.pivot(df,index='col1',columns='col2',values='col3').fillna(0)

col2   x1   x2   y1   y2
col1
abb   2.0  2.0  0.0  2.0
dda   0.0  0.0  2.0  0.0
def   0.0  2.0  0.0  0.0

In [80]:
df2 = pd.DataFrame({
    'foo':['one','one','one','two','two','two'],
    'bar':['A','B','C','A','B','C'],
    'baz':[1,2,3,4,5,6],
    'zoo':['x','y','z','q','w','t']
})
df2.pivot(index = 'foo',columns='bar',values='baz')
df2.pivot(index='foo',columns='bar')['baz']
df2.pivot(index='foo',columns='bar',values=['baz','zoo'])
# df2.set_index(['foo','bar'])[['baz']].unstack()

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

In [81]:
df2 = pd.DataFrame({
    'foo':['one','one','two','two'],
    'bar':['A','B','B','C'],
    'baz':[1,2,3,4]
})

df2.pivot(index='foo',columns='bar',values='baz')

bar    A    B    C
foo
one  1.0  2.0  NaN
two  NaN  3.0  4.0

In [88]:
df3 = pd.DataFrame({
    'col1':[100,87,92,10,20],
    'col2':[30,29,20,30,100],
    'col3':[89,20,3,2,50]
})
from sklearn import preprocessing
cols = ['col1','col2','col3']
df4=df3[cols].values
min_max_scaler = preprocessing.MinMaxScaler()
x_data = min_max_scaler.fit_transform(x.astype(float))
x_data.shape
df5 = pd.DataFrame(x_data)
df5

NameError: name 'x' is not defined